<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="PortIndex" value="0"/> <!-- May need to modify depending on target machine port availablility.  Check opening screen.-->
  <add key="IpAddress" value="192.168.0.2"/>
  <add key="CheckDelay" value="2000"/><!--Wait time between pings.-->
  <add key="WaitDelay" value="120000"/><!--Wait for server restart after power on.-->
  <add key="TestMode" value="false"/><!--Test mode true continuously cycles power regardless of ping result.-->
  <add key="ServiceMode" value="true"/><!--Test mode true continuously cycles power regardless of ping result.-->
  <add key="Debug" value="false"/><!--Controls display of debug messages.-->
</appSettings>
</configuration>